<div class="container">
    <h1> {{ title }} </h1>
    <div class="row">
        <div class="col-md-6">Destinos: </div>
        

    </div>      
    <app-lista-destinos></app-lista-destinos>
</div>


<router-outlet></router-outlet>